[data-animate]{ 
    position: relative;
}

[data-animate='fade-in-from-bottom'].prepared {
    opacity: 0;
    bottom: -80px;
}

[data-animate='fade-in-from-bottom']:not(.prepared){
    animation-name: fade-in-from-bottom;
}

@keyframes fade-in-from-bottom {
    from {
        opacity: 0;
        bottom: -80px;
    }
    to {
        opacity: 1;
        bottom: 0px;
    }
}

[data-animate='fade-in-from-left'].prepared {
    opacity: 0;
    left: -80px;
}

[data-animate='fade-in-from-left']:not(.prepared){
    animation-name: fade-in-from-left;
}

@keyframes fade-in-from-left {
    from {
        opacity: 0;
        left: -80px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}
