.form-field {
    position: relative;

    input[type='text'],
    input[type='email'],
    textarea {
        padding: 8px;
        border: solid 2px var(--color-black);
        width: 100%;
    }

    label {
        position: absolute;
        z-index: 5;
        left: 15px;
        top: 50%;

        transform: translateY(-50%);
    }
}

.form-field + .form-field {
    margin-top: 8px;
}